<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="current"><a href="/animals">Animals</a></li>
        <li><a href="/api">API</a></li>
    </ul>
</header>
<!--/*@thymesVar id="allAnimals" type=""*/-->
    <div>
        <h2>Add Animal</h2>
        <form @submit="createAnimal" >
            <div class="form-group">
                <label for="add-name"> Name </label>
                <input class="form-control" id="add-name" v-model="animals.animal_name" required/>
                <button type="submit" class="btn">
                    Create
                </button>
            </div>

        </form>
    </div>
</body>
</html>