<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/animals">Animals</a></li>
        <li class="current"><a href="/api">API</a></li>
    </ul>
</header>
<h2>XML:</h2>
<p>Use following path to use api:</p>
<p>to get all animals use /api/xml/animals</p>
<p>to get one animals use /api/xml/animals/"animal id"</p>
<p>to get all animal types use /api/xml/animaltypes</p>
<p>to get one animal type use /api/xml/animaltypes/"animaltype id"</p>
<p>to get all users use /api/xml/users</p>
<p>to get one user use /api/xml/users/"user id"</p>

<h2>JSON:</h2>
<p>Use following path to use api:</p>
<p>to get all animals use /api/json/animals</p>
<p>to get one animals use /api/json/animals/"animal id"</p>
<p>to get all animal types use /api/json/animaltypes</p>
<p>to get one animal type use /api/json/animaltypes/"animaltype id"</p>
<p>to get all users use /api/json/users</p>
<p>to get one user use /api/json/users/"user id"</p>
</body>
</html>